<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <runtime>
    <enforceFIPSPolicy enabled="false"/>
  </runtime>
  <system.web>
    <compilation targetFramework="4.8" debug="true"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <appSettings>
    <!--<add key="LDAP" value="LDAP://accessbanksierraleone.com"/>-->
    <add key="LDAP" value="LDAP://abp-hq-s100.accessbankplc.com:636"/>
    <!--<add key="Domain" value="accessbanksierraleone.com"/>-->
    <add key="Domain" value="10.240.8.78"/>
    <add key="GST_ACCT" value="0010160000097"/>
    <add key="OtherTax_ACCT" value="0010160000075"/>
    <add key="apiUrl" value="http://10.11.40.151:8181"/>
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <connectionStrings>
    <add name="OraconnStr" connectionString="data source=10.240.3.107:1521/FCUBSDB; user id=ACCESSPAY; password=accesspay; Persist Security Info=false"/>
    <add name="itas_nra" connectionString="Data Source=10.240.13.16;Initial Catalog=ITAS_DB;User ID=appdev;Password=access@123456; pooling=false" providerName="System.Data.SqlClient"/>
    <add name="ITAS_DBConnectionString" connectionString="Data Source=10.240.13.16;Initial Catalog=ITAS_DB;User ID=appdev;Password=access@123456" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="ServicesAPI.asmx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
<!--ProjectGuid: 999FE569-17E0-4098-9C03-F0340E1886AF-->